::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track { //  滚动条背景颜色
    background-color: white;
}

::-webkit-scrollbar-thumb {     //  滚动条
    width: 1 0px;
    background-color: grey;
    border-radius: 10px;
}